
html{
    background-color: rgb(171, 205, 172);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    color:hsl(94, 32%, 27%)
}
h3{
    color: rgb(108, 108, 153);
}
main{
    background-color: hsl(93, 32%, 35%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
menu{
    background-color: rgb(178, 178, 220);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: block;
}
div {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
  }