html{
  background-color: #d3d19d;
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-bottom: thick #D391FA solid;
    text-align: center;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  main {
    background: hsl(93, 32%, 35%);
  }
