html{
  background-color: rgb(171, 205, 172);
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-bottom: thick #6ba3f6 solid;
    text-align: center;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  main {
    background: hsl(93, 32%, 35%);
  }
