html{
    background-color: #d3d19d;
}
/*  Headers */
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
h4{
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}
h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;  
}
/*  Add Task Styling */

li{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;  
}
main{
    background-color: hsl(93, 32%, 35%);
}
/*  Tasks and Task History Styling */

option {
    color:  #D391FA;
}
section{
    background-color:  #D391FA;
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration-line: underline;
    text-decoration-color: black;
}
tr{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}