html{
    background-color: rgb(171, 205, 172);
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
main{
    background-color: hsl(93, 32%, 35%);
}
section{
    background-color: lavender;
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
li{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
tr{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}