
html{
    background-color: #d3d19d;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    color:black;
}
h3{
    color: black;
}
main{
    background-color: hsl(93, 32%, 35%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
menu{
    background-color: #D391FA;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: block;
}

.block {
    width: 100%;
    height: auto;
}
div {
    border-radius: 4px;
    padding: 5px;
  
  }

  